body {
    font-family: "Times New Roman", sans-serif; 
    background-color: #938fc5; 
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
    
.container {
    text-align: center;
}
    
.card {
    background-color: #f1eff6;
     max-width: 800px; 
     margin: 0 auto; 
     padding: 50px;
    border-radius: 40px;
 }
    
h1 {
    font-size: 20px; 
    margin-bottom: 20px; 
    color: #0f0e0e;
}
    
.input-container { 
    text-align: left;
    margin-bottom: 10px;
}
    
label {
    display: block; 
    font-weight: bold; 
    color: #181717;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 95%; padding: 10px; border: auto;
    background-color: #323835; color: #9792dc;
    border-radius: 10px; font-size: 15px; margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
 }
    
button {
    background-color: #007bff; color: #fff;
    border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 16px;
    transition: background-color 0.3s;
}
    
button:hover {
    background-color: #7160dd;
}
    
#mensaje {
    margin-top: 15px; color: rgb(64, 13, 220); font-weight: bold;
}